* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root {
    --color-dark: #1f2937;
    --color-light: #f9faf8;
    --color-grey: #e5e7eb;
    --color-blue: #3882f6;
}

body {
    background-color: var(--color-dark);
}

.main {
    display: flex;
    flex-direction: column;
}

.header, .hero-content {
    display: flex;
    background-color: var(--color-dark);
    padding: 8px 24px;
    justify-content: space-around;
    margin-bottom: 24px;
}

.container > p {
    margin-bottom: 8px;
}

.header {
    gap: 348px;
}

.hero-content {
    margin-bottom: 96px;
    gap: 48px;
}

.rela {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.quote {
  background-color: var(--color-grey);
}

.quote > .flexible > p:first-child {
    font-size: 36px;
    color: var(--color-dark);
}

.flexible {
    display: flex;
    flex-direction: column;
    padding: 96px;
    width: 100%;
}

.speaker {
    align-self: flex-end;
    font-size: 24px;
}

.contain {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 48px;
    background-color: var(--color-blue);
    padding: 48px;
    border-radius: 8px;
    margin: 0 77px;
}

.contain > div > p {
    color: var(--color-light);
}

.contain > div > p:first-child {
    font-size: 24px;
    font-weight: bolder;
}

.contain > button {
    border: 2px solid var(--color-light);
}

.flex-container {
    display: flex;
    gap: 48px;
    justify-content: center;
    margin-bottom: 48px;
}

.quote, .action-call {
    padding: 96px;
}

.random-information {
    padding: 48px;
}

.random-information, .action-call {
    background-color: var(--color-light);
}

.info {
    border: 3px solid var(--color-blue);
    border-radius: 8px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.flex > p {
    color: var(--color-dark);
}

.container {
    color: var(--color-light);
    width: 400px;
}

.image {
    width: 450px;
    color: var(--color-light);
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: var(--color-light);
    font-weight: bold;
}


h1 {
    font-size: 48px;
    font-weight: bolder;
}

h2 {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    color: var(--color-dark);
    margin-bottom: 48px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 32px;
    color: var(--color-light);
}

ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-grey);
    font-size: 18px;
}

button {
    padding: 8px 32px;
    font-weight: bold;
    background-color: var(--color-blue);
    border: none;
    border-radius: 6px;
    color: var(--color-light);
}